.contentWrapper {
    font-family: "Playwrite RO", cursive;
    text-align: center;
    margin: 0 auto;
    margin-top: 35vh;
    max-width: 700px;
    padding: 30px;
    border-radius: 15px;
    background-color: rgb(76, 72, 72);
    box-shadow: 5px 5px 5px gray;
}