.container {
    display: flex;
    justify-content: center;
}

.statistic {
    border: 1px solid black;
    width: 200px;
    border-radius: 15px;
    margin-right: 15px;
}

.totalStatistic {
    width: 300px;
    padding: 16.5px 0;
}